<h2>Welcome to PizzaShop</h2>

<div class="container">
  <div class="row">
    <% @products.each do |item| %>
        <div class="col-md-3">
          <div>
          <img src="<%= item.path_to_image %>"/>
          </div>

          <div>
            <%= item.title %>
          </div>

          <div>
            <%= item.description %>
          </div>

          <div>
            Size: <%= item.size %> cm
          </div>

          <div>
            Price: <%= item.price %> rub
          </div>

        </div>
    <% end  %>
  </div>
</div>



